{% extends 'base.html' %}

{% block content %}
	<h1>{% block title %} Predict BurnPro3D Runtime {% endblock %}</h1>
	<form method="POST" action="/">
		{{ form.csrf_token }}

		<table>	
		<tr>
		    <th>Label</th>
		    <th></th>
		  </tr>
		  <tr>
		    <td>{{ form.sim_time.label }}</td>
		    <td>{{ form.sim_time(size=20) }}</td>
		  </tr>
		  <tr>
		    <td>{{ form.surface_moisture.label }}</td>
		    <td>{{ form.surface_moisture(size=20) }}</td>
		  </tr>
		  <tr>
		    <td>{{ form.timestep.label }}</td>
		    <td>{{ form.timestep(size=20) }}</td>
		  </tr>
		  <tr>
		    <td>{{ form.wind_direction.label }}</td>
		    <td>{{ form.wind_direction(size=20) }}</td>
		  </tr>
		  <tr>
		    <td>{{ form.wind_speed.label }}</td>
		    <td>{{ form.wind_speed(size=20) }}</td>
		  </tr>
		  <tr>
		    <td>{{ form.canopy_moisture.label }}</td>
		    <td>{{ form.canopy_moisture(size=20) }}</td>
		  </tr>
		  <tr>
		    <td>{{ form.run_max_mem_rss_bytes.label }}</td>
		    <td>{{ form.run_max_mem_rss_bytes(size=20) }}</td>
		  </tr>
		  <tr>
		    <td>{{ form.area.label }}</td>
		    <td>{{ form.area(size=20) }}</td>
		  </tr>
		  <tr>
		    <td>{{ form.steps_fire.label }}</td>
		    <td>{{ form.steps_fire(size=20) }}</td>
		  </tr>
		  </table>


		{% if form.sim_time.errors %}
			<ul class="errors">
				{% for error in form.sim_time.errors %}
					<li>{{ error }}</li>
				{% endfor %}
			</ul>
		{% endif %}

		{% if form.surface_moisture.errors %}
			<ul class="errors">
				{% for error in form.surface_moisture.errors %}
					<li>{{ error }}</li>
				{% endfor %}
			</ul>
		{% endif %}

		{% if form.timestep.errors %}
			<ul class="errors">
				{% for error in form.timestep.errors %}
					<li>{{ error }}</li>
				{% endfor %}
			</ul>
		{% endif %}

		{% if form.wind_direction.errors %}
			<ul class="errors">
				{% for error in form.wind_direction.errors %}
					<li>{{ error }}</li>
				{% endfor %}
			</ul>
		{% endif %}


		{% if form.wind_speed.errors %}
			<ul class="errors">
				{% for error in form.wind_speed.errors %}
					<li>{{ error }}</li>
				{% endfor %}
			</ul>
		{% endif %}


		{% if form.canopy_moisture.errors %}
			<ul class="errors">
				{% for error in form.canopy_moisture.errors %}
					<li>{{ error }}</li>
				{% endfor %}
			</ul>
		{% endif %}


		{% if form.run_max_mem_rss_bytes.errors %}
			<ul class="errors">
				{% for error in form.run_max_mem_rss_bytes.errors %}
					<li>{{ error }}</li>
				{% endfor %}
			</ul>
		{% endif %}


		{% if form.area.errors %}
			<ul class="errors">
				{% for error in form.area.errors %}
					<li>{{ error }}</li>
				{% endfor %}
			</ul>
		{% endif %}


		{% if form.steps_fire.errors %}
			<ul class="errors">
				{% for error in form.steps_fire.errors %}
					<li>{{ error }}</li>
				{% endfor %}
			</ul>
		{% endif %}

		<p>
			<input type="submit" value="Add">
		</p>
	</form>

{% endblock %}